.wrapper {
    margin: auto auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.outcome-box{
    margin: auto auto;
    text-align: center;
}

.convert-button{
    justify-content: center;
}

.right-side{
    text-align: right;
}