@import '~@angular/material/theming';

mat-slider {
    width: 100%;
    margin: auto;
}

mat-form-field {
    width: 100%;
}

input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}